<h1>Ido Online Wedding Organiser</h1>
<p>
 <title>Welcome to our home page!</title> 
  <%= image_tag("/assets/wedding.jpg",  alt: "like", class: "like_image_for_index") %>For your perfect wedding day</a>
</p>